
/* MAIN */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Raleway";
  background: url(/uploads/image2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
h2 {
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 900;
  color: #F4BC16;
  line-height: 1;
  padding: 20px;
}

h2 span {
  color: #222;
  display:block;
}

.building {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  background: #fff;
  padding: 40px;
  opacity: 0.8;
}

hr {
  width: 5%;
  border:0;
  border-bottom: 1px solid #ccc;
}

address {
  text-transform: none;
  font-size: 14px;
}

address a {
  color: #F4BC16;
}
