<div class="column column-1-2">
  <h4 class="box-header">PREGUNTES FREQÜENTS</h4>
  <ul class="accordion margin-top-40 clearfix ui-accordion ui-widget ui-helper-reset" role="tablist">
    <li>
      <div id="accordion-renovation-cost" class="ui-accordion-header ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" aria-controls="ui-id-1" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon template-arrow-circle-down"></span>
        <h5>Why does a renovation project cost so much?</h5>
      </div>
      <p class="description t1 ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-1" aria-labelledby="accordion-renovation-cost" role="tabpanel" aria-hidden="false" style="display: block;">Morbi nulla tortor, degnissim at node cursus euismod est arcu.
      Nomad turbina uter vehicula justo magna paetos in accumsan
      tempus, terminal ullamcorper a quam suscipit.</p>
    </li>
    <li>
      <div id="accordion-project-timeline" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon template-arrow-circle-right"></span>
        <h5>What is the timeline for the project?</h5>
      </div>
      <p class="description t1 ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="accordion-project-timeline" role="tabpanel" aria-hidden="true" style="display: none;">Morbi nulla tortor, degnissim at node cursus euismod est arcu.
      Nomad turbina uter vehicula justo magna paetos in accumsan
      tempus, terminal ullamcorper a quam suscipit.</p>
    </li>
    <li>
      <div id="accordion-construction-budget" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon template-arrow-circle-right"></span>
        <h5>What is the total budget for construction?</h5>
      </div>
      <p class="description t1 ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-3" aria-labelledby="accordion-construction-budget" role="tabpanel" aria-hidden="true" style="display: none;">Morbi nulla tortor, degnissim at node cursus euismod est arcu.
      Nomad turbina uter vehicula justo magna paetos in accumsan
      tempus, terminal ullamcorper a quam suscipit.</p>
    </li>
    <li>
      <div id="accordion-project-initiation" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon template-arrow-circle-right"></span>
        <h5>How is renovation project initiated?</h5>
      </div>
      <p class="description t1 ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" aria-labelledby="accordion-project-initiation" role="tabpanel" aria-hidden="true" style="display: none;">Morbi nulla tortor, degnissim at node cursus euismod est arcu.
      Nomad turbina uter vehicula justo magna paetos in accumsan
      tempus, terminal ullamcorper a quam suscipit.</p>
    </li>
  </ul>
</div>
