<div class="header-container">
  <div class="vertical-align-table column-1-1">
    <div class="header clearfix">
      <div class="logo vertical-align-cell">
        <h1>
          <a href="/" class="logo" title="Renovate">Obres i serveis <span>Carmelo</span></a>
        </h1>
      </div>
      <a href="#" class="mobile-menu-switch vertical-align-cell">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </a>
      <div class="menu-container clearfix vertical-align-cell">
        <nav>
          <ul class="sf-menu">
            {% include menu.html %}
          </ul>
        </nav>
        <div class="mobile-menu-container">
          <div class="mobile-menu-divider"></div>
          <nav>
            <ul class="mobile-menu collapsible-mobile-submenus">
              {% include menu.html %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
