{% if page.url contains 'serveis/' %}
  {% assign serveis_selected = 'selected' %}
{% elsif page.url contains 'projectes/' %}
  {% assign projectes_selected = 'selected' %}
{% elsif page.url contains 'equip' %}
  {% assign equip_selected = 'selected' %}
{% elsif page.url contains 'contacte' %}
  {% assign contacte_selected = 'selected' %}
{% endif %}

<li class="{{serveis_selected}}">
  <a href="/serveis" title="Services">
    SERVEIS
  </a>
  {% if site.serveis.size > 0 %}
  <ul>
    {% for servei in site.serveis %}
      <li>
        <a href="{{servei.url}}" title="{{servei.name}}">
          {{servei.name}}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</li>
<li class="{{projectes_selected}}">
  <a href="/projectes" title="Projects">
    PROJECTES
  </a>
  {% if site.data.categories.size > 0 %}
    <ul>
      {% for category in site.data.categories %}
        <li>
          <a title="{{ category.name }}" href="/projectes#filter-{{category.permalink}}">
            {{ category.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
<li class="{{equip_selected}}">
  <a href="/equip" title="EQUIP">
    EQUIP
  </a>
</li>
<li class="left-flyout {{contacte_selected}}">
  <a href="/contacte" title="Contact">
    CONTACTE
  </a>
</li>
