<div class="header-top-bar-container clearfix">
  <div class="header-top-bar">
    <ul class="contact-details clearfix">
      <li class="template-phone">
        <a href="tel:+34607240726">+34 607 240 726</a>
      </li>
      <li class="template-mail">
        <a href="mailto:obresiserveiscarmelo@gmail.com">obresiserveiscarmelo@gmail.com</a>
      </li>
      <li class="template-clock">
        Dill - Div: 08.00 - 17.00
      </li>
    </ul>
    <ul class="social-icons">
      <li>
        <a target="_blank" href="http://facebook.com/" class="social-facebook" title="facebook"></a>
      </li>
      <li>
        <a title="linkedin" target="_blank" href="https://linkedin.com/" class="social-linkedin"></a>
      </li>
    </ul>
  </div>
  <a href="index.html%3Fpage=projects.html#" class="header-toggle template-arrow-up"></a>
</div>
