<div class="column column-1-2">
    <h4 class="box-header">PER QUÈ ESCOLLIR-NOS</h4>
    <p class="description t1 margin-top-34">Amb més de 30 anys d'experiència. Pot confiar en nosaltres per al seu proper projecte.
      Oferim serveis de renovació i instal·lació professionals enfocats a les necessitats reals i satisfacció del client.</p>
    <p class="description t1 margin-top-34">
      Estem inscrits al Registre d´Empreses Acreditades, amb el nº d´inscripció <strong>REA: 09000053635</strong>, i té validesa a tot el territori nacional. <br /><br />
      Tenim concertat amb <strong>PREVENCONTROL</strong>, la prestació del Servei de Prevenció Aliè, en materia de Riscos Laborals, per a tots els nostres centres de treball.
    </p>
    <ul class="list margin-top-20">
      <li class="template-bullet">Qualitat superior i artesania</li>
      <li class="template-bullet">Qualitat i valor als projectes que lliuem<!--<a href="/projectes">projectes que lliuem</a>--></li>
      <li class="template-bullet">Estàndards més alts</li>
      <li class="template-bullet">A temps i dins pressupost</li>
      <li class="template-bullet">Enfocament real en la satisfacció del client</li>
    </ul>
  </div>
