<div class="column column-1-2">
    <h4 class="box-header">PER QUÈ ESCOLLIR-NOS</h4>
    <p class="description t1 margin-top-34">Amb més de 15 anys d'experiència i un enfocament real en la satisfacció del client, pot confiar en nosaltres per al seu proper projecte.
      Oferim serveis de renovació i instal·lació professionals amb un enfocament real en la satisfacció del client.</p>
    <ul class="list margin-top-20">
      <li class="template-bullet">Responsabilitat financera per als nostres clients</li>
      <li class="template-bullet">Qualitat superior i artesania</li>
      <li class="template-bullet">Qualitat i valor als <a href="/projects">projectes que lliuem</a></li>
      <li class="template-bullet">Estàndards més alts</li>
      <li class="template-bullet">A temps i dins pressupost</li>
      <li class="template-bullet">Enfocament real en la satisfacció del client</li>
    </ul>
  </div>
