<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Obres i serveis Carmelo :: {{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/style/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/superfish.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/prettyPhoto.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/jquery.qtip.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/animations.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/responsive.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/odometer-theme-default.css">
  <!--fonts-->
  <link rel="stylesheet" type="text/css" href="/assets/fonts/streamline-small/styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/streamline-large/styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/template/styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/fonts/social/styles.css">

</head>

<body>
  <div class="site-container">
    {% include topbar.html %}

    {% include header.html %}


    {{ content }}


    {% include contact.html %}

    {% include footer.html %}
  </div>

  <a href="index.html#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
  <div class="background-overlay"></div>
  <!--js-->
  <script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui-1.11.4.custom.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.easing.1.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.touchSwipe.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.transit.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.hint.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.costCalculator.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.blockUI.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyA2LLXoPbK_YPWDdpwgHaG3-PFYl6KiWhI"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
  <script type="text/javascript" src="/assets/js/odometer.min.js"></script>
</body>

</html>
