<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="https://oak.is">
    <title>RedCatCode :: {{ title }}</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
    <style type="text/css"> body { background: #fff; color: #222; } ::-moz-selection { background-color: #222; color: #fff; } ::selection { background-color: #222; color: #fff; } .highlight, pre, code, input[type="email"][disabled] { background: #222; color: #fff; } .bg { color: #fff; } .fg { color: #222; } .background--bg { background: #fff; } .background--fg, hr { background: #222; } .border--bg { border-color: #fff; } .border--fg { border-color: #222; } path, polygon { fill: #222; } p a, .post__content a, .title a:not(.permalink), .underline { background-image: linear-gradient(to bottom, transparent 50%, #222 50%); } </style>

  </head>
  <body>




    <header class="header container">
  <div class="row row--header">
    <div class="col col--header">
      <a href="/" class="header__logo fade">
        RedCatCode
      </a>
    </div>
    <div class="col col--header">
      <nav class="nav">
        <ul class="nav__items">
          {% for page in site.pages %}
            <li class="nav__item">
              <a href="/{{page.url}}" class="fade">{{page.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>

    <div class="container">
      {{content}}
    </div>

    <script src="/assets/js/all.js"></script>
  </body>
</html>
